#contacto{
     @include margenes_base;
   }    

.contacto__formulario{
     @include margenes_base;
}   

.ubicacion img{
     max-width: 100%; 
     height: auto; 
}



@media (max-width : 1024px) {

     .contacto__title{
          font-size: 90%;
      }    
      .contacto__content{
           font-size: 80%;    
   
      }  
      .contacto__label{
           font-size: 80%;          
      }          
     .ubicacion__title{
          font-size: 90%;         
     }

 }     

 @media (max-width : 768px) {

     .contacto__title{
          font-size: 70%;
      }    
      .contacto__content{
           font-size: 60%;          
      }  
      .contacto__label{
           font-size: 60%;          
      }  	  
      .ubicacion__title{
          font-size: 70%;
     }       
    

 }    

 @media (max-width : 480px) {

  

     .contacto__title{
          font-size: 55%;
      }    
      .contacto__content{
           font-size: 50%;    
              
      }  
      .contacto__label{
          font-size: 50%;
     }   

	 .ubicacion__title{
          font-size: 55%;         
     }
    
 
 }      